@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  /* font-family: "Saira", sans-serif; */
}

@layer utilities{
  .title{
    @apply text-3xl md:text-4xl lg:text-5xl font-[600] capitalize tracking-wide
  }
  .main-heading{
    @apply text-3xl md:text-4xl lg:text-[42px] lg:leading-6 tracking-wide capitalize
  }
  .heading{
    @apply text-3xl md:text-4xl lg:text-[42px] tracking-wide capitalize
  }

  .paragraph{
    @apply text-base leading-7 tracking-wide capitalize
  }
}

.nav-link{
    color: white;
    display: block;
    text-transform: capitalize;
    padding: 32px 20px;
    font-weight: 500;
    font-size: 14px;
    transition: all .5s ease-out 0s;
    position: relative;
}

.container{
  max-width: 1480px;
  margin: auto;
  padding: 10px;
}

.strokeme {
  color: #22262a;
  text-shadow: -1px -1px 0 #f2f2f20e, 1px -1px 0 #f2f2f20e, -1px 1px 0 #f3f3f311, 1px 1px 0 #f3f3f325;
}

.btn-transiton{
  width: 100px;
  height: 40px;
  animation: btn-data 1 1 forwards ;
}


.text-gradient{
  background-image :linear-gradient(90deg, #f87aff, #fb93d0, #fd9, #c2f0b2, #2fd8fe);
}

.button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #06D889;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  border: 1px;
  border: white;
}

.overlay {
  content: '';
  position: absolute;
  top: -100%;
  right: -100%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 1s ease;
  transform: rotate(45deg);
}

.button:hover .overlay {
  top: 0;
  right: 10%;
}

.button:hover {
  color: white;
  background-color: #3333;
  border: 1px;
  border: white;
}

.button span {
  position: relative;
  z-index: 1;
}